body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#app {
    width: 80%;
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#formulario-receita {
    display: flex;
    flex-direction: column;
}

#formulario-receita select,
#formulario-receita input,
#formulario-receita textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box; /* Garante que o padding não afete a largura total do elemento */
}

#formulario-receita select {
    width: 100%;
}

#enviar-receita,
#atualizar-receita {
    padding: 10px;
    font-size: 1em;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
    transition: background-color 0.3s ease; /* Transição suave para cor de fundo */
}

#enviar-receita {
    background: #28a745;
}

#enviar-receita:hover {
    background: #218838;
}

#atualizar-receita {
    background: #ffc107;
}

#atualizar-receita:hover {
    background: #e0a800;
}

#pesquisa {
    margin: 20px 0;
}

#pesquisar {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;


    
}

#recipes-list {
    margin-top: 20px;
}

.receita {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.receita h2 {
    margin: 0 0 10px;
}

.receita p {
    margin: 0;
}

button {
    margin-top: 10px;
    padding: 5px;
    font-size: 0.9em;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease; /* Transição suave para cor de fundo */
}

.editar-receita {
    background: #ffc107;
    color: white;
}

.editar-receita:hover {
    background: #e0a800;
}

.excluir-receita {
    background: #dc3545;
    color: white;
}

.excluir-receita:hover {
    background: #c82333;
}

/* Responsividade */
@media (max-width: 600px) {
    #app {
        width: 90%;
    }

    #formulario-receita select,
    #formulario-receita input,
    #formulario-receita textarea {
        font-size: 0.9em;
    }

    #enviar-receita,
    #atualizar-receita {
        font-size: 0.9em;
        padding: 8px;
    }
}
